.contact{
    &__main{
        background:linear-gradient(-45deg, $color-primario, $color-secundario, $color-terceario);
        flex:1;
    }
    
    &__body{
        display: flex;
        flex-direction: column;
        background:linear-gradient(-45deg, $color-primario, $color-secundario, $color-terceario);
        min-height: 100vh;
    }
    
    &__title{
        color: $color-texto;
        text-align: center;
        padding: 16px;
        
    }
    &__text{
        color:$color-texto;
        align-self: center;
        padding: 16px;
    }
    &__article{
        display: flex;
        text-align: center;
        padding: 16px;
        font-size: 18px;
    }
    &__button{
        background:linear-gradient(-45deg, $color-primario, $color-secundario, $color-terceario);

    }
    
}
