.contact{
    &__main{
        background:linear-gradient(-45deg, $color-primario, $color-secundario, $color-terceario);
        flex:1;
    }
    
    &__body{
        display: flex;
        flex-direction: column;
        background:linear-gradient(-45deg, $color-primario, $color-secundario, $color-terceario);
        min-height: 100vh;
    }
    
    &__title{
        color: $color-texto;
        text-align: center;
        padding: 16px;
        
    }
    &__text{
        color:$color-texto;
        align-self: center;
        padding: 16px;
    }
    &__article{
        display: flex;
        text-align: center;
        padding: 16px;
        font-size: 24px;
    }
    &__button{
        background:linear-gradient(-45deg, $color-primario, $color-secundario, $color-terceario);

    }
    &__img{
        justify-content: stretch;
        width: 250px;
        height: 300px;
        padding: 16px;
        align-self: center;

    }
    &__cards{
        padding: 16px;
        width: 75vw;
        position: static;
        
    }
    &__color{
        position: static;
        background:linear-gradient(-45deg, $color-primario, $color-secundario, $color-terceario);
    }
}
