header{
    position: sticky;
    top: 0px;
    background:linear-gradient(-45deg, $color-primario, $color-secundario, $color-terceario) 
    
}
.header{

    &-item:hover {
    transform: scale(1.2);
    transition: 1s;
    }
}