.index{
    &__main{   
        background:linear-gradient(-45deg, $color-primario, $color-secundario, $color-terceario) 
    }
    
    &__title{ 
        text-align: center;
        color: $color-texto;
        
        text-decoration: solid;
        text-decoration: underline;
    }
    
    
    &__carousel{
        
        position: static;
    }
    &__cap{
        position: static;
    }
    &__img{
        height: 100vh;
    }
    
    
    &__iframes{
        display: flex;
        justify-content: center;
    }
    &__spotify{   
        padding: 16px;
        width: 100vw;
        height: 100px;
    }

}