.index{
    &__main{   
        background:linear-gradient(-45deg, #ebca14, #f3e8e9, rgb(160, 36, 36)) 
    }
    
    &__title{ 
        text-align: center;
        color: rgb(0, 0, 0);
        
        text-decoration: solid;
        text-decoration: underline;
    }
    
    
    &__carousel{
        
        position: static;
    }
    &__cap{
        position: static;
    }
    &__img{
        height: 100vh;
    }
    
    
    &__iframes{
        display: flex;
        justify-content: center;
    }
    &__spotify{   
        padding: 16px;
        width: 100vw;
        height: 100px;
    }

}