.staff{
    &__title{ 
        text-align: center;
        color: rgb(0, 0, 0);
    }
    &__main{
        background:linear-gradient(-45deg, $color-primario, $color-secundario, $color-terceario);
    }

    &__names{
        padding: 16px;
        text-decoration: solid;
        color: rgb(0, 0, 0);
        font-size: 34px;
    }

    &__img{ 
        
        width: 275px;
        height: 300px;
        padding: 16px;
        align-self: center;

    }

    &__lorem{
        padding: 16px;
        color: rgb(0, 0, 0);
        font-size: 24px;
    }

    &__footerrights{
        padding: 16px;
    }
    &__cards{
        padding: 16px;
        width: 75vw;
        
    }
    &__color{
        position: static;
        background:linear-gradient(-45deg, $color-primario, $color-secundario, $color-terceario);
    }
}
