/* colores */
$color-texto:rgb(0, 0, 0);
$color-primario: #ebca14;
$color-secundario: #f3e8e9;
$color-terceario:#a02424;
/* tamaño letra */
$contenido: 1rem;
$titulos: $contenido *2;

/* rem em  <1rem=16px> */
