@import"variables";
@import"footer";
@import"index";
@import"campus";
@import"header";
@import"contact";
@import"houses";
@import"staff";
@import"operator";
@import"mediaqueries";

*{
    margin: 0px;
    padding: 0px;
}
body{
    
    font-family: 'Cormorant SC', serif;

}


